scrapy==2.11.2
orjson==3.10.7
rapidfuzz==3.9.6
pydantic==2.9.2
scrapy-playwright>=0.0.33
playwright>=1.44
openai>=1.40.0,<2
requests>=2.32.0,<3
beautifulsoup4>=4.12.3,<5
lxml>=4.9.4,<6
w3lib>=2.2.1
parsel>=1.9.1
python-dateutil>=2.9.0
pytz>=2024.1
price-parser>=0.3.5
tldextract>=5.1.2
